html {
  font-size: xx-large;
}
#mobile-nav {
  /*dispay the hamburger menu */
  display: block;
  /* position it near the top left corner of the screen */
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  /*give it a reasonable size */
  height: 5vh;
  width: 5vh;
  /* ensure it is on top in the stacking order */
  z-index: 10;
  /* turn off <a> tag padding for theis tag */
  padding: 0;
}

#mobile-nav > img {
  /* Size the image based on the size of the #mobile-nav */
  width: 100%;
}
/* Show the actual <nav> tag when the #mobile-nav is clicked*/

#nav:target {
  width: 12ch;
  height: 7em;
  padding: 0.2em;
}

nav {
  /* mobile orientation is column */
  flex-direction: column;
  /* place the nav just under the hamburger menus */
  top: calc(5vh + 0.5em);
  /* hide the <nav> by not letting it have any width size 
due to max-width */
  max-width: fit-content;
  /* don't let content extend outside of tag */
  overflow: hidden;
  /* transition into view when shown/hidden */
  transition: all 0.5s;
}

nav > a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

nav > a:first-child {
  padding-top: 0.5em;
}

nav > a:last-child {
  padding-bottom: 0.5em;
}

.logo {
  width: 40vw;
  height: auto;
}

article {
  padding-left: 5vw;
  padding-right: 5vw;
}

.vertical-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tagline {
  white-space: nowrap;
}
#bonus {
  display: block;
  margin-top: 3em;
}
